/* ----------------
    RESET
---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------
    COMMON
---------------- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #030b16, #212041, #5b265f, #9f1c63, #da1d4b);
}

/* ----------------
    MAIN
---------------- */
main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 62.5rem;
    min-width: 53.125rem;
    margin: auto;
}
h1 {
    position: absolute;
    top: -3.125rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .3125rem;
    background-color: rgba(255, 255, 255, 0.3);
}
.arrow {
    text-align: center;
    font-size: 3.25rem;
    width: 100%;
    margin: 1.25rem 0;
    opacity: 0;
}
#random-number {
    display: flex;
    box-shadow: 11px 12px 30px 3px #1D2F0C;
}
#user-choise {
    display: flex;
    text-align: center;
    box-shadow: 11px 12px 30px 3px #1D2F0C;
}
#banner {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: .625rem 1.875rem;
    color: white;
    font-weight: bold;
}
.box__number {
    font-size: 1.875rem;
    font-weight: bold;
    text-align: center;
    width: 6.25rem;
    padding: 1.25rem 0;
    border: .125rem solid green;
    background-color: aquamarine;
}
.hide {
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.show {
    opacity: 1;
}
